@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    @include flex-column(1rem);
    height: fit-content;
    min-width: 400px;

    form{
        @include flex-column(1rem);

        input{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }
    }

    // .toggleAuthForm{
    //     color: #fd2828;
    //     text-decoration: none;
    //     font-weight: 600;
    //     cursor: pointer;
    // }
}